  <div [ngClass]="{ 'sub_page': !inHomePage }" >
  <div class="hero_area">
    <div class="bg-box">
      <img src="/assets/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              A
            </span>
          </a>

          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button> -->
          <button 
            class="navbar-toggler" 
            type="button" 
            (click)="isMenuOpen = !isMenuOpen" 
            aria-controls="navbarSupportedContent"
            [attr.aria-expanded]="isMenuOpen"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" 
            [ngClass]="{ 'show': isMenuOpen }"
            id="navbarSupportedContent">

            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">

                <a class="nav-link" 
                routerLink="/home"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="closeMenu()"
                >
                  Home
                </a>
              </li>
              <li class="nav-item">

                <a class="nav-link" 
                routerLink="/menu"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="closeMenu()"
                >
                  Menu
                </a>
              </li>
              <li class="nav-item">

                <a class="nav-link" 
                routerLink="/about"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="closeMenu()"
                >
                  About
                </a>
              </li>
            </ul>
            <div class="user_option">

              <a class="user_link" 
              routerLink="/profile"
              routerLinkActive="active" 
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="closeMenu()"
              >
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
                  <a class="nav-link position-relative" 
                  routerLink="/cart"
                  routerLinkActive="active" 
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="closeMenu()"
                  >
                    <i class="bi-cart-fill fs-4 text-white"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white">
                      {{ cartItemCount$ | async }}
                    </span>
                  </a>
              <form class="d-flex" (ngSubmit)="onSearch()">
                <div class="input-group rounded-pill shadow-sm overflow-hidden">
                  <input
                    type="text"
                    [(ngModel)]="searchQuery"
                    name="search"
                    placeholder="Search foods..."
                    class="form-control border-0"
                  />
                  <button class="btn btn-primary px-3" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->


        <!-- slider section -->
          <section class="slider_section " *ngIf="inHomePage">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="container ">
                    <div class="row">
                      <div class="col-md-7 col-lg-6 ">
                        <div class="detail-box">
                          <h1>
                            Fast Food Restaurant
                          </h1>
                          <p>
                           Indulge in your favorite meals—hot, delicious, and delivered in minutes.
                          </p>
                          <div class="btn-box">
                            <a href="" class="btn1">
                              Order Now
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="container">
                <ol class="carousel-indicators">
                  <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#customCarousel1" data-slide-to="1"></li>
                  <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
              </div> -->
            </div>
      
          </section>  
          <!-- end slider section -->
        </div>


 
 





