form .form-control::placeholder {
  color: #aaa;
  font-style: italic;
}

form .btn-primary:hover {
  background-color: #0056b3; /* darker shade */
}

.nav-link.active,
.user_link.active {
  color: #ffc107 !important;
}

.nav-link:hover i {
  color: #ffc107 !important;
}