
  <section class="food_section layout_padding-bottom menu-section">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Menu</h2>
    </div>

    <ng-container *ngIf="foodList.length > 0; else emptyState">
      <ul class="filters_menu">
        <li
          [class.active]="selectedCategoryId === null"
          (click)="filterFoodsByCategory(null)"
        >
          All
        </li>
        <li
          *ngFor="let category of categories"
          [class.active]="selectedCategoryId === category.id"
          (click)="filterFoodsByCategory(category.id)"
        >
          {{ category.name }}
        </li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza" *ngFor="let Food of foodList">
            <app-food [food]="Food"></app-food>
          </div>
        </div>
      </div>

                                  
          <!-- Pagination -->
      <app-pagination
        [pageNumber]="pagination.pageNumber"
        [totalPages]="pagination.totalPages"
        [hasPreviousPage]="pagination.hasPreviousPage"
        [hasNextPage]="pagination.hasNextPage"
        (pageChange)="onPageChange($event)">
      </app-pagination>

</ng-container>

    <ng-template #emptyState>
      <div class="text-center mt-5">
        <p class="empty-state-message">
          🍽️ No foods found. Try a different category or search term.
        </p>
      </div>
    </ng-template>
  </div>
</section>

