<div class="test">
 <div class="container">
    <div class="row" *ngIf="cart && !loading; else loadingOrError">
        <aside class="col-lg-9">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Food</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right d-none d-md-block d-block" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cart!.items" >
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img [src]="item.food.imageUrl" [alt]="item.food.name" class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark" data-abc="true">{{ item.food.name }}</a>
                                            <p class="text-muted small">{{ item.food.description }}</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <select class="form-control" [ngModel]="item.quantity" (ngModelChange)="onQuantityChange(item, $event)">
                                        <option *ngFor="let qty of [1,2,3,4,5]" [value]="qty">{{ qty }}</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">${{ item.food.price * item.quantity }}</var>
                                        <small class="text-muted">${{ item.price }} each</small> 
                                    </div>
                                </td>
                                <td class="text-right d-md-block d-block">
                                    <button (click)="deleteItem(item)" class="btn btn-light">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </aside>
        <aside class="col-lg-3">
            <div class="card mb-3">
                <div class="card-body">
                    <form>
                        <div class="form-group"> <label>Have coupon?</label>
                            <div class="input-group"> <input type="text" class="form-control coupon" name="" placeholder="Coupon code"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right ml-3">${{ getTotal() }}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-right text-danger ml-3">- $10.00</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right text-dark b ml-3">
                            <strong>${{ getTotal() }}</strong>
                        </dd>
                    </dl>
                    <hr> 
                    <!-- <a href="#" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase </a>  -->
                     <button
                       type="button"
                       class="btn btn-out btn-primary btn-square btn-main"
                       routerLink="/shipping"
                      >
                       Make Purchase
                    </button>
                    <button 
                     type="button" 
                     class="btn btn-out btn-success btn-square btn-main mt-2" 
                     routerLink="/home"
                     >Continue Shopping
                    </button>
                </div>
            </div>
        </aside>
    </div>
 </div>
</div>

<!-- <div *ngIf="cartItemCount$ | async as count">
  Cart Items: {{ count }}
</div> -->

<ng-template #loadingOrError>
    <div class="container text-center mt-5">
      <div *ngIf="loading">Loading your cart...</div>
      <div *ngIf="!loading && errorMessage" class="text-danger">{{ errorMessage }}</div>
    </div>
</ng-template>

<!-- Real template photos => https://i.imgur.com/1eq5kmC.png => https://i.imgur.com/hqiAldf.jpg => https://i.imgur.com/UwvU0cT.jpg -->
